node_modules/
**/node_modules/
dist/
**/dist/
**/release/
**/out/
**/unpacked-asar/
**/dist-final-no-password/
_gh_pages_deploy/
.firebase/
firebase-backups/
.env.local
.env.production
dek-defense-electron-agent/.env
student.json
test.mjs
.DS_Store
