# Firebase web config
FIREBASE_API_KEY=AIzaSyB73d8DbCSEXWfJbjvsbaQoTN5u1Nsmv38
FIREBASE_AUTH_DOMAIN=dek-defence.firebaseapp.com
FIREBASE_PROJECT_ID=dek-defence
FIREBASE_STORAGE_BUCKET=dek-defence.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=89291910928
FIREBASE_APP_ID=1:89291910928:web:b872d6aa4d8b33b1947f95

# Firebase auth for station/service account-like user
FIREBASE_EMAIL=kiis_student@gmail.com
FIREBASE_PASSWORD=kiis_stud2026

# Station settings
STATION_ID=defense-station-1
STATION_NAME=ПК захисту
UPLOAD_PORT=3050
ZOOM_URL=
